<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="my-header-martin">
  <template>
    <style>
      :host {
        display: block;
      }

      .padre {
        display: flex;
        justify-content: center;
      }
      .hijo {
        padding: 10px;
        margin: 10px;
        text-align: center;
        background: #1abc9c;
        font-size: 10px;
      }






.header1{

}

    </style>


    <div class="padre">
    <div class="hijo">
        <img src="../darth-vader.jpg" style="width:180px" ></div>
    <div class="hijo">
      <h1>JUÁREZ MARTíN</h1><p>Header</p></div>
    <div class="hijo">
      <img src="../jethro.jpg" style="width:180px" ></div>
    </div>





    <!-- <form action="search.php">

      <input type="text">

      <input type="submit" value="Buscar">

    </form>-->

  </header>


    <!--<h2>Hello [[prop1]]!</h2>-->

  </template>

  <script>
    /**
     * `my-header-martin`
     * header martin
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MyHeaderMartin extends Polymer.Element {
      static get is() { return 'my-header-martin'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'my-header-martin'
          }
        };
      }
    }

    window.customElements.define(MyHeaderMartin.is, MyHeaderMartin);
  </script>
</dom-module>
